[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MEsreg"]
	path = MEsreg
	url = https://github.com/woraphonyamaka/mesreg
[submodule "copulaSFM"]
	path = copulaSFM
	url = https://github.com/woraphonyamaka/copulasfm
[submodule "copulaSQM"]
	path = copulaSQM
	url = https://github.com/woraphonyamaka/copulasqm
